@font-face {
	font-style: normal;
	font-weight: 300;
	font-family: 'Lato';
	font-display: swap;
	src: url('../assets/fonts/Lato-Light.woff') format('woff'),
		url('../assets/fonts/Lato-Light.woff2') format('woff2'),
		url('../assets/fonts/Lato-Light.ttf') format('ttf');
}

@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: 'Lato';
	font-display: swap;
	src: url('../assets/fonts/Lato-Regular.woff') format('woff'),
		url('../assets/fonts/Lato-Regular.woff2') format('woff2'),
		url('../assets/fonts/Lato-Regular.ttf') format('ttf');
}

@font-face {
	font-style: normal;
	font-weight: 500;
	font-family: 'Lato';
	font-display: swap;
	src: url('../assets/fonts/Lato-Medium.woff') format('woff'),
		url('../assets/fonts/Lato-Medium.woff2') format('woff2'),
		url('../assets/fonts/Lato-Medium.ttf') format('ttf');
}

@font-face {
	font-style: normal;
	font-weight: 900;
	font-family: 'Lato';
	font-display: swap;
	src: url('../assets/fonts/Lato-Black.woff') format('woff'),
		url('../assets/fonts/Lato-Black.woff2') format('woff2'),
		url('../assets/fonts/Lato-Black.ttf') format('ttf');
}

@font-face {
	font-style: normal;
	font-family: 'StandingFlowerScript';
	font-display: swap;
	src: url('../assets/fonts/StandingFlowerScript.woff') format('woff'),
		url('../assets/fonts/StandingFlowerScript.woff2') format('woff2'),
		url('../assets/fonts/StandingFlowerScript.ttf') format('ttf');
}